
.heartContainer{
    height: 200px;
    .heart{
        width: 100%;
        animation: sizing 0.5s ease-in infinite alternate;
        box-sizing: border-box;
    }

    .heartNone{
        width: 10%;
    }
 
}



@keyframes sizing{
    0%{
        width:10%
    }
    100%{
        
        width:15%
    }

}
