
$cr1: black;
$cr2 : #5F5E5E;
$cr3: white;


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

.container{
    // border: 1px solid black;
    height: 100vh;
    width: 100%;
}

body{
    margin: 0;
}

.heartEmoji{
    font-size: 50px;
    color: red;
}

.darkMode{
    background-color: $cr1;
    color: $cr2;

}

.lightMode{
    background-color: $cr3;
    color: $cr2;
}

.heartRate{
    font-size: 24px;
}